html  {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../../assets/img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

.btnContainer {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgContainer {
  list-style: none;
  margin: 0 15px;
}

.imgContainer a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

img {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.imgContainer a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.imgContainer a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.imgContainer a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.labelMode  {
  margin-right: 50px;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blockDuringDownload  {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.5;
  z-index: 9999;

}

#navbarToggleExternalContent label:hover {
  color: #3498db !important
}